@page "/Beheerder"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "admin, beheerder")]
@model Personeelsdienst.Pages.BeheerderModel
@{
    ViewData["Title"] = "Beheerder";
}

<h1>Beheerder</h1>

