@page "/Admin/Beheerder/Overzicht"
@page "/Admin/Beheerder/Overzicht/{text}"
@attribute [Authorize(Roles = "admin")]
@inherits BeheerderOverzichtBase

<div class="row">
    <h3 class="col-lg-8"><span class="oi oi-people" /> Overzicht Beheerders</h3>
    <span class="col-lg-4">
        <button @onclick='(e => Navigation.NavigateTo("/Admin/Beheerder/Toevoegen"))' style="color: white; float: right;" class="btn btn-primary"><span class="oi oi-plus" /> Beheerder toevoegen</button>
    </span>
</div>
@if (!(Text is null))
{
    if (Text.Trim().ToLower().Equals("create"))
    {
        <div class="alert alert-success">
            Beheerder succesvol aangemaakt.
        </div>
    }
    else if (Text.Trim().ToLower().Equals("edit"))
    {
        <div class="alert alert-success">
            Beheerder succesvol bewerkt.
        </div>
    }
    else if (Text.Trim().ToLower().Equals("delete"))
    {
        <div class="alert alert-danger">
            Beheerder succesvol verwijderd.
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">Entiteiten</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Personeelsdienst.Models.Beheerder beheerder in Beheerders)
        {
            <tr>
                <th>@beheerder.Email</th>
                <td>
                    @foreach (Personeelsdienst.Models.Entiteit entiteit in beheerder.Entiteiten.Select(e => e.Entiteit))
                    {
                        @entiteit.Entiteitsnaam <br />
                    }
                </td>
                <td class="text-right">
                    <button @onclick='(e => Navigation.NavigateTo($"/Admin/Beheerder/Bewerken/{beheerder.Id}"))' type="button" class="btn btn-outline-secondary"><span class="oi oi-pencil" /></button>
                    <button @onclick='(e => VerwijderBeheerder(e, beheerder.Id))' type="button" class="btn btn-outline-danger"><span class="oi oi-trash" /></button>
                </td>
            </tr>
        }
    </tbody>
</table>