@page "/Admin"
@page "/Admin/Entiteit/Overzicht"
@page "/Admin/Entiteit/Overzicht/{text}"
@attribute [Authorize(Roles = "admin")]
@inherits EntiteitOverzichtBase

<div class="row">
    <h3 class="col-lg-8"><span class="oi oi-briefcase"/> Overzicht entiteiten</h3>
    <span class="col-lg-4">
        <button @onclick='(e => Navigation.NavigateTo("/Admin/Entiteit/Toevoegen"))' style="color: white; float: right;" class="btn btn-primary"><span class="oi oi-plus" /> Entiteit toevoegen</button>
    </span>
</div>
@if (!(Text is null))
{
    if (Text.Trim().ToLower().Equals("create"))
    {
        <div class="alert alert-success">
            Entiteit succesvol aangemaakt.
        </div>
    }
    else if (Text.Trim().ToLower().Equals("delete"))
    {
        <div class="alert alert-danger">
            Entiteit succesvol verwijderd.
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Entiteitsnaam</th>
            <th scope="col">Login</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Personeelsdienst.Models.Entiteit entiteit in Entiteiten)
        {
            <tr>
                <th>@entiteit.Entiteitsnaam</th>
                <td>@entiteit.Email</td>
                <td class="text-right">
                    <button @onclick="(e => VerwijderEntiteit(e, entiteit.Id))" type="button" class="btn btn-outline-danger"><span class="oi oi-trash" /></button>
                </td>
            </tr>
        }
    </tbody>
</table>