@inject IModalService ModalService

    <div>
        <p>Ben je zeker dat je dit wilt verwijderen?</p>

        <button @onclick="No" style="float: left;" class="btn btn-secondary pl-2 pr-2">Nee</button>
        <button @onclick="Yes" style="float: right;" class="btn btn-outline-danger pl-2 pr-2"><span class="oi oi-trash" /> Ja</button>
    </div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    void Yes() => BlazoredModal.Close();

    void No() => BlazoredModal.Cancel();

}