@inject IModalService ModalService

    <div>
        <p>Ben je zeker dat je dit wilt verwijderen?</p>

        <button @onclick="No" style="float: left; padding-left: 2em; padding-right: 2em;" class="btn btn-secondary">Nee</button>
        <button @onclick="Yes" style="float: right; padding-left: 2em; padding-right: 2em;" class="btn btn-danger"><span class="oi oi-trash" /> Ja</button>
    </div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    void Yes() => BlazoredModal.Close();

    void No() => BlazoredModal.Cancel();

}