@inject IModalService ModalService

<div>
    <p>Ben je zeker dat je dit wilt verwijderen?</p>

    <button @onclick="Yes" class="btn btn-outline-danger"><span class="oi oi-trash"/> Ja</button>
    <button @onclick="No" class="btn btn-secondary">Nee</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    void Yes() => BlazoredModal.Close();

    void No() => BlazoredModal.Cancel();

}