@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Personeelsdienst</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if (IsAdmin())
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Admin/Entiteit/Overzicht" Match="NavLinkMatch.All">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Entiteiten
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Admin/Entiteit/Toevoegen" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> Entiteit toevoegen
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Admin/Beheerder/Overzicht" Match="NavLinkMatch.All">
                    <span class="oi oi-people" aria-hidden="true"></span> Beheerders
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/Admin/Beheerder/Toevoegen" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Beheerder toevoegen
                </NavLink>
            </li>
        </ul>
    </div>
}

@if (IsBeheerder())
{
}

@if (IsEntiteit())
{

}

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
