@page "/Admin/Beheerder/Overzicht"
@attribute [Authorize(Roles = "admin")]
@inherits BeheerderOverzichtBase

<div class="row">
    <h3 class="col-lg-8">Overzicht Beheerders</h3>
    <span class="col-lg-4">
        <a style="color: white; float: right;" class="btn btn-primary"><span class="oi oi-plus" /> Beheerder toevoegen</a>
    </span>
</div>
<hr />
@foreach (Personeelsdienst.Models.Beheerder beheerder in Beheerders)
{
    <div class="card m-2">
        <div class="card-body row">
            <div class="col-11">
                <h5>@beheerder.Email</h5>
                <ul>
                    @foreach(Personeelsdienst.Models.Entiteit entiteit in beheerder.Entiteiten)
                    {
                        <li>@entiteit.Entiteitsnaam</li>
                    }
                </ul>
            </div>
            <div class="col-1 btn-group-vertical">
                <button type="button" class="btn btn-outline-danger"><span class="oi oi-trash" /></button>
            </div>
        </div>
    </div>
}
