@page "/Admin/Entiteit/Toevoegen"
@attribute [Authorize(Roles = "admin")]
@inherits EntiteitToevoegenBase

<h3><span class="oi oi-plus"/> Entiteit toevoegen</h3>
<hr />
<EditForm Model="@_entiteitFormModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Entiteitsnaam">Entiteitsnaam</label>
        <InputText @bind-Value="_entiteitFormModel.Entiteitsnaam" class="form-control" id="Entiteitsnaam"/>
        <ValidationMessage For="@(() => _entiteitFormModel.Entiteitsnaam)" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <InputText @bind-Value="_entiteitFormModel.Email" class="form-control" id="Email" @onchange="(e => _userAlreadyExists = false)" />
        <ValidationMessage For="@(() => _entiteitFormModel.Email)" />
        @if (_userAlreadyExists)
        {
            <div class="validation-message">Dit emailadres is al gekoppeld aan een gebruikersaccount</div>
        }
    </div>
    <div class="form-group">
        <label for="Password">Wachtwoord</label>
        <InputText type="password" @bind-Value="_entiteitFormModel.Password" class="form-control" id="Password" />
        <ValidationMessage For="@(() => _entiteitFormModel.Password)" />
    </div>
    <button type="button" @onclick='(e => Navigation.NavigateTo("/Admin/Entiteit/Overzicht"))' class="btn btn-lg btn-outline-secondary pl-3 pr-3">Annuleer</button>
    <button style="float:right" type="submit" class="btn btn-lg btn-primary pl-3 pr-3">Opslaan</button>
</EditForm>
